{% extends 'base.html' %}
{% block title %}Atbash Cipher{% endblock %}

{% block content %}

<div class="atbash-container">
  <div class="atbash-box">
    <h2>Atbash Encryption</h2>
    <input type="text" id="encryptInput" placeholder="Enter text to encrypt">
    <button onclick="atbashEncrypt()">Encrypt</button>
    <p id="encryptedText"></p>
  </div>

  <div class="atbash-box">
    <h2>Atbash Decryption</h2>
    <input type="text" id="decryptInput" placeholder="Enter text to decrypt">
    <button onclick="atbashDecrypt()">Decrypt</button>
    <p id="decryptedText"></p>
  </div>
</div>

<script>
    function atbashEncrypt() {
      var inputText = document.getElementById('encryptInput').value;
  
      fetch('/atbash/encrypt', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            text: inputText
          })
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('encryptedText').innerHTML = data.encryptedText;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  
    function atbashDecrypt() {
      var inputText = document.getElementById('decryptInput').value;
  
      fetch('/atbash/decrypt', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            text: inputText
          })
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('decryptedText').innerHTML = data.decryptedText;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  </script>
  

{% endblock %}
