<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
  <!--NAVBAR STARTS-->
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="nav-link cypherlearn" href="{{ url_for('views.home') }}">CypherLearn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user is defined and user.is_authenticated %}
          <ul class=" navbar-nav mr-auto ">
            <li class="nav-item active">
              <a class="navbar-brand" href="{{ url_for('views.home') }}">
            
                <img  class="backtohome" id="backtohome" src="{{ url_for('static', filename='logo.png') }}">
            </a>
              
            </li>
            <a class="nav-link " href="{{ url_for('views.home') }}">Home <span class="sr-only"></span></a>
            
           

            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('views.lab') }}">Lab</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('views.atbash') }}">Atbash</a>

            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('views.hill') }}">Hill</a>

            </li>
            <li class="nav-item ">
              <a class="nav-link " href="{{ url_for('views.learn') }}">
                Learn
              </a>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('views.puzzles') }}">Puzzles</a>

            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('auth.logout') }}">Logout</a>

            </li>
              
            </ul>
            {%else %}
              <ul class="nav navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link"href="{{ url_for('auth.signup') }}"><span class="glyphicon glyphicon-user "></span>Sign Up</a></li>
                <li><a class="nav-link"href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
              </ul>
              {%endif%}
          
         </div> 
        </div>
      </nav>
      <!--NAVBAR ENDS!-->
      {% with messages=get_flashed_messages(with_categories=true)%}
      {%if messages%}
      {%for category,message in messages%}
      {%if category=="invalid"%}
      <div class="alert alert-danger alert-dismissable fade show " role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissable fade show " role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif%}
      {% endfor %}
      {% endif %}
      {% endwith %}
      
      
      
    <div class="container main-content">{% block content %} {% endblock %}</div>   
   

</body>
</html>











