 {%extends 'base.html'%}{%block title%}CipherLearn{% endblock %}

 {%block content%}

 <h1 align="center" class="text">Welcome to CipherLearn</h1>
 <p align="center" class="text">Encryption is of utmost importance in today's world. It ensures the security and privacy of digital communication, protecting sensitive information from unauthorized access.CipherLearn is the best place to get started and learn some simple encryption algorithms, and also experiment with them</p>
 <br>
 <br>
 <br>
 <p class="text">There are a lot of things that can be done with CipherLearn. Check out the Lab and Atbash pages, where you can test out different ciphers. If these ciphers are unfamiliar to you though, head over to the learn page where you can leaern all about each of the ciphers, from its history, strengths and weaknesses, and how it exactly works.After you have done all that, head over to the puzzles tab where you can test your knowledge and see how much you have really learned</p>
{%endblock%}