{% extends 'base.html' %}
{% block title %}Lab{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<body>

  <h2 align="center" class="text">Welcome to the Lab</h2>
  <p align="center" class="text">The lab is the best place to work with various encryption algorithms and to explore the ways in which different encryption algorithms work. It can be used to encrypt, decrypt with different ciphers, and can also be used to decrypt text without knowing the shift. Have fun!</p>
  <h2 class="text" align="center">Encryption</h2>
  <p align="center" class="text"></p>
  <div class="dropdown">
    <button class="dropbtn" id="selectedCipher">Select Cipher</button>
    <div class="dropdown-content">
      <a href="#" onclick="toggleShiftBox('Caesar Cipher')">Caesar Cipher</a>
      
      <a href="#" onclick="toggleShiftBox('Vigenère Cipher')">Vigenère Cipher</a>
      <a href="#" onclick="toggleShiftBox('Playfair Cipher')">Playfair Cipher</a>
    </div>
  </div>
  <div id="shiftBox" style="display: none;" class="text-center mt-3 boxes">
    <label for="shift" class="text">Shift/Keyword:</label>
    <input type="text" id="shift" name="shift" class="form-control">
  </div>

  <div class="text-center mt-3">
    <label for="message" class="text">Message:</label>
    <textarea id="message" name="message" rows="4" cols="50" class="form-control boxes" placeholder="Enter text to be encrypted here..."></textarea>
  </div>

  <div class="text-center mt-3">
    <label for="encrypted_message" class="text">Encrypted Text:</label>
    <p id="encryptedText" class="text"></p>
  </div>

  <div class="text-center mt-3">
    <button onclick="encrypt()" class="btn btn-primary">Encrypt</button>
  </div>

  <p align="center" class="text"></p>
  <h2 class="text" align="center">Decryption</h2>
  <div class="dropdown">
    <button class="dropbtn" id="selectedCipherDecrypt">Select Cipher</button>
    <div class="dropdown-content">
      <a href="#" onclick="toggleShiftBoxDecrypt('Caesar Cipher')">Caesar Cipher</a>
      
      <a href="#" onclick="toggleShiftBoxDecrypt('Vigenère Cipher')">Vigenère Cipher</a>
      <a href="#" onclick="toggleShiftBoxDecrypt('Playfair Cipher')">Playfair Cipher</a>
    </div>
  </div>
  <div id="shiftBoxDecrypt" style="display: none;" class="text-center mt-3 boxes">
    <label for="shiftDecrypt" class="text">Shift/Keyword:</label>
    <input type="text" id="shiftDecrypt" name="shiftDecrypt" class="form-control">
  </div>

  <div class="text-center mt-3">
    <label for="messageDecrypt" class="text">Message:</label>
    <textarea id="messageDecrypt" name="messageDecrypt" rows="4" cols="50" class="form-control boxes" placeholder="Enter text to be decrypted here..."></textarea>
  </div>

  <div class="text-center mt-3">
    
    <label for="decrypted_message" class="text">Decrypted Text:</label>
    <p id="decryptedText" class="text"></p>
  </div>

  <div class="text-center mt-3">
    <button onclick="decrypt()" class="btn btn-primary">Decrypt</button>
  </div>
  <div class="text-center mt-3">
    <h3 class="text">Decrypt Caesar Cipher text without knowing the key</h3>
    <div class="form-group">
      <label for="caesarMessage">Ciphertext:</label>
      <textarea id="caesarMessage" name="caesarMessage" rows="4" cols="50" class="form-control boxes" placeholder="Enter ciphertext to be decrypted here..."></textarea>
    </div>
    <div class="text-center mt-3">
      <button onclick="decryptCaesar()" class="btn btn-primary">Decrypt</button>
    </div>
    <div class="text-center mt-3">
      <label for="decryptedCaesarMessage" class="text">Decrypted Text:</label>
      <p id="decryptedCaesarText" class="text"></p>
    </div>
  </div>

  <script>
    function toggleShiftBox(selectedCipher) {
      var shiftBox = document.getElementById('shiftBox');
      shiftBox.style.display = 'block';

      var selectedCipherButton = document.getElementById('selectedCipher');
      selectedCipherButton.innerHTML = selectedCipher;
    }

    function toggleShiftBoxDecrypt(selectedCipher) {
      var shiftBoxDecrypt = document.getElementById('shiftBoxDecrypt');
      shiftBoxDecrypt.style.display = 'block';

      var selectedCipherDecryptButton = document.getElementById('selectedCipherDecrypt');
      selectedCipherDecryptButton.innerHTML = selectedCipher;
    }

    function encrypt() {
      var selectedCipher = document.getElementById('selectedCipher').innerHTML;
      var shift = document.getElementById('shift').value;
      var message = document.getElementById('message').value;

      fetch('/encrypt', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            selectedCipher: selectedCipher,
            shift: shift,
            message: message
          })
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('encryptedText').innerHTML = data.encryptedMessage;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function decrypt() {
      var selectedCipherDecrypt = document.getElementById('selectedCipherDecrypt').innerHTML;
      var shiftDecrypt = document.getElementById('shiftDecrypt').value;
      var messageDecrypt = document.getElementById('messageDecrypt').value;

      fetch('/decrypt', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            selectedCipher: selectedCipherDecrypt,
            shift: shiftDecrypt,
            message: messageDecrypt
          })
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('decryptedText').innerHTML = data.decryptedMessage;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
    function decryptCaesar() {
    var ciphertext = document.getElementById('caesarMessage').value;

    fetch('/decryptCaesar', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        ciphertext: ciphertext
      })
    })
      .then(response => response.json())
      .then(data => {
        document.getElementById('decryptedCaesarText').innerHTML = data.decryptedMessage;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
  </script>

</body>
</html>

{% endblock %}
